
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300&display=swap');

html {
    height: 100%;
}

body {
    align-items: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    width: 100%;
    gap: 2rem;
}

.soups, .salads, .meats, .chickens, .nonAls, .als {
    padding-right: 2rem;
    padding-bottom: 5rem;
    border: 0.2rem solid rgb(145, 115, 40);
    width: 35%;
    min-width: 25rem;
}

li {
    list-style-type: none;
    display: flex;
    margin-top: 5rem;
    padding-left: 1rem;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    border: 0.2rem solid rgb(145, 115, 40);
}

.img {
    width: 10rem;
    height: 10rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    background-color: lightgray;
    padding-top: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
}

button {
    border: none;
    background-color: lightgray;
    transition: transform 250ms;
}

button:hover {
    transform: scale(1.1);
}

.starters{
    display: none;
}

.main-course{
    display: none;
}

.drinks{
    display: none;
}

.visible{
    display: flex;
}